<div class="form full-width">
  <h2>Edit Item</h2>

  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="item.name" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="item.price" />
  </mat-form-field>

  <div class="actions">
    <button mat-flat-button color="accent" (click)="saveNewValues()">
      <mat-icon>save</mat-icon>
    </button>

    <button mat-flat-button color="accent" (click)="closeCard()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
