<ng-container *ngIf="items">
  <app-items-list
    [items]="items"
    (changeItem)="selectItem($event)"
    (removeItem)="removeItem($event)"
  ></app-items-list>
  <app-item-edit
    *ngIf="selectedItem"
    [item]="selectedItem"
    (saveItem)="saveItemValus($event)"
    (closeItem)="closeItemEdit()"
  ></app-item-edit>
  <button
    title="Add item"
    *ngIf="!selectedItem"
    mat-mini-fab
    color="accent"
    (click)="addItem()"
  >
    <mat-icon>add</mat-icon>
  </button>
</ng-container>

<div *ngIf="!items">
  <h1>Achtung</h1>
  <p>Im Moment sind keine Waren vorhanden.</p>
</div>
